<!-- section START -->
<div class="section">
    <%= render 'admin/shared/subtitle', :image_path => 'admin/page/h_pageNew.jpg', :image_size => '122x18' %>
    <%= render 'admin/shared/notice', :notice => notice if notice %>
    <%= render 'admin/shared/alert', :alert => alert if alert %>
    <%= render 'admin/pages/form' %>
</div>
<!-- section END -->
