<!-- entry START -->
<div class="entry">
    <div class="entryHead">
        <h2><span>「<%= @query %>」の検索結果（件）</span></h2>
    </div>
    <table>
        <colgroup>
            <col width="28%" />
            <col width="62%" />
        </colgroup>
        <% @search_result.each do |res| %>
        <tr>
            <td>
                <%= link_to highlight(sanitize(res.title,
                    :tags => %w(br p a), :attributes => %w(id class href)), @query), res %>
            </td>
            <td>
                <%=
                highlight(sanitize(truncate(res.contents, :length => 20),
                    :tags => %w(br p a), :attributes => %w(id class href)), @query)
                -%>... （<%= l res.updated_at.localtime %>）
            </td>
        </tr>
        <% end %>
    </table>
</div>
<!-- entry END -->

