<div id="header_innerR">
    <div id="header_inner">
        <div id="discript">
            <h1>
            <a href="" tabindex="1"><%# TODO:サイト情報からサイト名 %></a>
            </h1>
            <p>
                <%# TODO:サイト情報からコメント%>
            </p>
        </div>
        <form action="サーチ" method="get">
            <dl>
                <dt>
                    <label for="keyword">
                        フリーワード検索
                    </label>
                </dt>
                <dd>
                    <input type="text" name="query" id="keyword" value="キーワード" tabindex="2" />
                </dd>
            </dl>
            <p>
                <input type="submit" value="検索" tabindex="3" />
            </p>
        </form>
    </div>
</div>
