<!-- navArea START -->
<div id="navArea">
    <!-- navList START -->
    <div class="navList">
        <h3>カテゴリー</h3>
        <ul>
            <% @categories.each do |cat| %>
            <li>
            <%= link_to cat.name, cat %>
                <%# <span><?php echo $this->escape($category['name']) ?></span> %>
            </li>
            <% end %>
        </ul>
    </div>
    <!-- navList END -->

    <!-- navList START -->
    <div class="navList">
        <h3>タグクラウド</h3>
        <ul id="tagCloud">
            <li class="level1">
                <a href="たぐ">タグ名</a>
            </li>
        </ul>
        <%#
        <p>
            タグは登録されていません。
        </p>
        %>
    </div>
    <!-- navList END -->
</div>
<!-- navArea END -->

