    <div class="entryBody">
        <p>「<%= @query %>」に一致するページはありませんでした。<br />以下のことを確認して再度検索してみてください。</p>
        <ul class="list">
            <li>キーワードに誤字・脱字はありませんか？</li>
            <li>キーワードは長すぎませんか？</li>
            <li>一般的なキーワードに変えてみてください。</li>
        </ul>
    </div>
