    <table>
        <colgroup>
            <col class="left" />
            <col class="right" />
        </colgroup>
        <% @search_result.each do |res| %>
        <tr>
            <td>
                <%= link_to highlight_keyword(res.title, @query), res %>
            </td>
            <td>
                <%= highlight_keyword res.contents, @query %> （<%= l res.updated_at.localtime %>）
            </td>
        </tr>
        <% end %>
    </table>
