<div class="errorMessageArea">
    <% alert.each do |k, m| %>
    <p class="clear"><%= m %></p>
    <% end %>
    <p>
        <a href="javascript:void(0)" onclick="hideAlert()">OK</a>
    </p>
</div>
