    <div class="hAreaL">
        <div class="hAreaR">
            <div class="hArea">
                <h3><%= image_tag image_path, :alt => @subtitle.last[:name], :size => image_size %>
            </div>
        </div>
    </div>
